html,
body {
    padding: 0;
    margin: 0;
    background-color: #424242 !important;
    height: 100vh;
    width: 100vw;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.rule-wrapper{
 display: flex;
}

.rule-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: rgba(0, 139, 139, 1) 2px solid;
}

.rule-col:last-child{
    border-right: none;
}

.rule-row{
    display: flex;
    justify-content: space-around;
    border-bottom: rgba(0, 139, 139, 1) 2px solid;
}

.rule-row:last-child{
    border-bottom: none;
}

.board-container{
    height: 100% !important;
}

.col{
    background-color: #424242;
}

.board-grid-5{
    display: grid;
    grid-template-columns: 22px 22px 22px 22px 22px;
    grid-template-rows: 22px 22px 22px 22px 22px;
    grid-auto-flow: row;
    margin-top: 15px;
    margin-bottom: 30px;
}

.board-grid-10{
    display: grid;
    grid-template-columns: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    grid-template-rows: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    grid-auto-flow: row;
    margin-top: 15px;
    margin-bottom: 30px;
}

.board-grid-15{
    display: grid;
    grid-template-columns: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    grid-template-rows: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    grid-auto-flow: row;
    margin-top: 15px;
    margin-bottom: 30px;
}

.board-grid-20{
    display: grid;
    grid-template-columns: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    grid-template-rows: 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px 22px;
    grid-auto-flow: row;
    margin-top: 15px;
    margin-bottom: 30px;
    /* 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px; */
}

.board-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vert{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-auto-flow: column;
    grid-row-gap: 1px;
    grid-column-gap: 12px;
}

.input-wrapper{
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.input-col{
    margin-right: 3px;
}

.rule{
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    font-size: 10px;
}

.square{
    border: rgba(0, 139, 139, 0.45) 1px solid;
}

.solution-progress{
    width: 420px;
}

.progress-bar{
    color: black !important;
    font-weight: 500;
}

.left-sidebar{
    min-height: 100%;
    max-width: 280px !important;
    background-color: #121212;
}

.content-row{
    height: 100%;
}

.navbar{
    background-color: #03DAC6 !important;
}

.white-80a{
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 600;
}

.center-row{
    display: flex;
}

.center-col{
    display: flex;
    flex-direction: column;
}

.col-wrap{
    flex-direction: column;
    margin-top: 206px;
    margin-right: 15px;
}
